# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
<li>List popular languages for Data Science</li>
<li>List of the commonly used libraries used by Data Scientists</li>
<li>Data Science Tools</li>
<li>Simple arithmetic expressions</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
<li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>pandas</li>
<li>scikit-learn</li>
<li>matplolib</li>
<li>ggplot</li>
</ol>

|Data Science Tools|
|---|
|Jupiter Notebooks|
|Apache Spark|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [24]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5.

17.0

In [48]:
# This will convert 200 minutes to hours by diving by 60
hours = 200//60
minutes = 200-hours*60
combined = str(hours)+":"+str(minutes)
print(combined)

3:20

## Author 
Nick Purdes